@model IEnumerable<BehrendTutors.Models.TutorSessionClass>

@{
    ViewData["Title"] = "Tutor Home Page";
}


<div class="container-fluid">
    <div class="row gx-5">
        <div class="col-xl-3">
            <div class="p-3 border bg-light">
                <ul class="list-group">
                    @foreach (var item in Model)
                    { //@Html.DisplayFor(modelItem => item.ClassTitle)
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xl-10 justify-content-xl-start">
                                    @Html.DisplayFor(modelItem => item.ClassData.Subject)-@Html.DisplayFor(modelItem => item.ClassData.CourseNum)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl justify-content-xl-start">
                                    @Html.DisplayFor(modelItem => item.ClassData.ClassNum)
                                </div>
                                <div class="col-xl justify-content-xl-end">
                                    @Html.DisplayFor(modelItem => item.ClassData.ClassTitle)
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        
        <div class="col-xl-6">
            <div class="p-3 border bg-light">Weekly view</div>
        </div>
    </div>
</div>