@model IEnumerable<BehrendTutors.Models.Class>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4">
    <div class="row gx-5">
        <div class="col-xl-4">
            <div class="p-3 border bg-light">My favorite classes</div>
        </div>
        <div class="col-xl-4">
            <div class="p-3 border bg-light">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item">@Html.DisplayFor(modelItem => item.ClassTitle)</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="p-3 border bg-light">Session information</div>
        </div>
    </div>
</div>