@model IEnumerable<BehrendTutors.Models.Class>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row gx-5">
        <div class="col-xl-4">
            <div class="p-3 border bg-light">My favorite classes</div>
        </div>
        <div class="col-xl-4">
            <div class="p-3 border bg-light">
                <ul class="list-group">
                    @foreach (var item in Model)
                    { //@Html.DisplayFor(modelItem => item.ClassTitle)
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xl-10 justify-content-xl-start">
                                    @Html.DisplayFor(modelItem => item.Subject)-@Html.DisplayFor(modelItem => item.CourseNum)
                                </div>
                                <div class="col-xl-2 justify-content-xl-end bg-black">
                                    <!--Button goes here-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl justify-content-xl-start">
                                    @Html.DisplayFor(modelItem => item.ClassNum)
                                </div>
                                <div class="col-xl justify-content-xl-end">
                                    @Html.DisplayFor(modelItem => item.ClassTitle)
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="p-3 border bg-light">Session information</div>
        </div>
    </div>
</div>