@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex flex-row">
    <div class="p-2">
        <p>Favorite classes</p>
    </div>
    <div class="p-2">
        <p>List of classes</p>
    </div>
    <div class="p-2">
        <p>Session information</p>
    </div>
</div>
